/* * Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

button {
  padding: 2rem 6rem;
  border: none;
  background: #4c6e97;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #27394e;
}

/* *Nav and Hero Section */
.main-head {
  background: #131c27;
  color: #ffffff;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
}

nav {
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  list-style: none;
}

#logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(transparent)), url("../img/landing-page.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../img/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* *Locations Section */
#locations {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url(./img/new-york-page.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./img/new-york-page.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#131c27), to(#663b34));
  background: linear-gradient(#131c27, #663b34);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
}

.moving-cloud-1 {
  -webkit-animation: cloudAnimation 5s infinite alternate ease-in-out;
          animation: cloudAnimation 5s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  -webkit-animation: cloudAnimation 7s infinite alternate ease-in-out;
          animation: cloudAnimation 7s infinite alternate ease-in-out;
}

@-webkit-keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

/* *Benefits Section */
.benefits-head {
  background: #343c44;
  min-height: 30vh;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-align: center;
}

.benefits-head h3 {
  padding: 1.2rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  -webkit-box-shadow: 0px 10px 10px rgba(19, 28, 39, 0.3), 0px 20px 20px rgba(19, 28, 39, 0.3);
          box-shadow: 0px 10px 10px rgba(19, 28, 39, 0.3), 0px 20px 20px rgba(19, 28, 39, 0.3);
  /* * properties go x, y, blur, color */
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 1rem;
  line-height: 1.8;
}

.card-icon {
  background: #343c44;
}

/* *Contact Section */
#contact {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url(./img/contact-mountain.png) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(./img/contact-mountain.png) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.7);
  width: 60%;
  color: #fff;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 4rem;
}

.form-wrapper label {
  margin: 0 2.5rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
  border-radius: 15px;
  outline: none;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.name-form input:focus,
.email-form input:focus {
  background: #e0e0e0;
}

/* *Footer */
footer {
  color: #fff;
  background: #131c27;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

footer h5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.footer-wrapper li {
  padding: 3rem;
}

button:focus {
  background: #233246;
}

/* *Responsiveness */
@media screen and (max-width: 933px) {
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.7);
    -webkit-text-fill-color: #ffffff;
    margin: 4rem 0;
    padding: 0 1rem;
  }
  .card {
    -ms-flex-preferred-size: 30rem;
        flex-basis: 30rem;
  }
  .cards {
    margin-top: 3rem;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 663px) {
  html {
    font-size: 45%;
  }
  .main-head {
    position: fixed;
    background: #131c27;
    color: #ffffff;
    top: initial;
    bottom: 0;
    z-index: 3;
    border-top: #fff 2px solid;
    width: 100vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .main-head a {
    border-bottom: 2px #fff solid;
  }
  footer {
    margin-bottom: 85px;
  }
  .card {
    -ms-flex-preferred-size: 50rem;
        flex-basis: 50rem;
  }
  .form-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .card {
    min-height: 30vh;
  }
}
/*# sourceMappingURL=style.css.map */